---
layout: page
title: Resume
---

<!-- Resume Section -->



  <!-- ======= Resume Section ======= -->
  <!-- <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Snapshot of current and past internships, projects, and committees</p>
      </div>

      <div class="row">
        <div class="col-lg-6">

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Environmental Science and Policy &amp; Computer Science</h4>
            <h5>Smith College</h5>
            <p><em>Northampton, MA</em></p>
            <p><em>Bachelor of Arts, 2020 - 2024</em></p>
          </div>
    
          <h3 class="resume-title">Leadership</h3>
          <div class="resume-item pb-0">

            <h4>Youth Delegate</h4>
            <h5>UNITE 2030</h5>
            <p><em>September 2022-Present</em></p>
            <p>The Alliance was created nearly forty years ago by visionaries from around the world with a mission to co-create sustainability on a personal, organizational, and planetary level.</p>


            <h4>Advisory Board Member</h4>
            <h5>Alliance for Sustainability</h5>
            <p><em>September 2022-Present</em></p>
            <p>The Alliance was created nearly forty years ago by visionaries from around the world with a mission to co-create sustainability on a personal, organizational, and planetary level.</p>
            
            <h4>Program Team Leader</h4>
            <h5>Achieving Excellence in Mathematics, Engineering and Sciences</h5>
            <p><em>September 2021 - Present</em></p>
            <ul>
              <li>Co-leads a STEM mentorship program with a focus on supporting underrepresented social groups </li>
              <li>Provides networking, academic resources, and career opportunities to over 80 mentors and mentees </li>
              <li>Initiated and developed a mentoring community website using WordPress </li>
            </ul>

            <h4>Student Co-chair</h4>
            <h5>Smith College Science Center on Diversity</h5>
            <p><em>September 2022 - Present</em></p>
            <ul>
              <li>Initiate and promote programming on social justice initiatives in STEM disciplines</li>
              <li>Hosts listening sessions for students to voice their perspectives on DEI actions</li>
              <li>Oversee committees focused on accessible resources, inclusive pedagogy, and student engagement</li>
            </ul>

            <h4>Environmental Science Liaison</h4>
            <p><em>September 2022 - Present</em></p>
            <h5>Smith College Environment Science Department</h5>
            <p></p>

            <h4>Forte&#769; Ambassador</h4>
            <h5></h5>
            <p><em></em></p>
            <ul>
              <li>Served as a liaison for Forté Foundation's business activities, conferences, and events</li>
              <li>Promoted professional development and networking opportunities</li>
              <li>Led a cohort for the 2022 Forté National Campus to Business Leadership Conference</li>
            </ul>

          </div>


          <h3 class="resume-title">Presentations and Talks</h3>
          <div class="resume-item pb-0">
          
            <h4>Digital Rights and Youth: The Future of Online Moderation in a Techno-Solutionist Society</h4>
            <p><em><a href="https://magicc.acm.org/index.html">April 2023 ACM Celebration of Women in Computing Celebrations</a></em></p>

            <h4>Recycling Single-Use Plastics for Local Makers Conference</h4>
              <p><em><a href="https://events.mtholyoke.edu/event/summit_on_womens_leadership_in_climate_justice">April 2023 Summit on Women Leadership in Climate Justice </a></em></p>
          
            <h4>Digital Rights and Youth: The Future of Online Moderation in a Techno-Solutionist Society</h4>
              <p><em><a href="https://sites.smith.edu/celebrating-collaborations/category/posters/">April 2023 Celebrating Collaborations</a></em></p>


            <h4>Recycling Single-Use Plastics for Local Makers Conference</h4>
              <p><em><a href="https://sites.smith.edu/celebrating-collaborations/category/posters/">April 2023 Celebrating Collaborations</a></em></p>
          </div>

        </div>

      Divider for column 2-->
        <!-- <div class="col-lg-6">
          <h3 class="resume-title">Internships</h3>
          <div class="resume-item">
            
          <h4>CARE-WWF Alliance Intern</h4>
          <h5>World Wildlife Fund</h5>
          <p><em>June 2023 - Present</em></p>
          <p></p>

          <h4>Communications Intern</h4>
          <h5>United Nations Sustainable Development Solutions Network</h5>
          <p><em>September 2022 - April 2023</em></p>
          <ul>
            <li>Supported communications and marketing for SDG Academy, the flagship education platform</li>
            <li>Enhanced website maintenance and content management for over 40+ courses on sustainable development</li>
            <li>Coordinated outreach efforts for the 700k+ alumni network and SDG Academy&#8217;s Blog </li>
            <li>Collaboration with affiliate programs: Global Schools Program, Mission 4.7.and Online Master&#8217;s Program</li>
          </ul>
          <p></p>

          <h4>Communications Intern</h4>
          <h5>National Oceanic & Atmospheric Administration</h5>
          <p><em>May 2022 - August 2022</em></p>
          <ul>
            <li>Agnes Shedd Andreae Fellow for expanding communications on multifaceted policy initiatives</li>
            <li>Strengthen outreach for NOAA&#8217;s ocean conservation and stewardship anniversaries</li>
            <li>Increased public communications through story maps, oral history interviews, and web features </li>
            <li>Engaged in strategy discussions, researched journalist coverage, suggested pitch angles</li>
          </ul>
          <p></p>

          <h4>S.H.E. Kindness Campaign Intern</h4>
          <h5>Alliance for Sustainability</h5>
          <p><em>June 2021 - September 2022</em></p>
          <ul>
            <li>Created and designed a Guide to Sustainable Action ebook used in conjunction with middle and high school presentations</li>
            <li>Accelerated fundraising alliances, including an email outreach campaign for business partnerships</li>
            <li>Produced strategic plans and developed presentations for the School and Business programs</li>
          </ul>
          <p></p>

          <h4>Web Administration Intern</h4>
          <h5>Conway Center for Innovation and Entrepreneurship</h5>
          <p><em>January 2022 - Present</em></p>
          <ul>
            <li>Oversees the Conway website, including content for the National Draper Competition</li>
            <li>Supports with the publicity, coordination, and management of entrepreneurial events and competitions</li>
            <li>Leading a team for increased campus-wide initiatives for awareness of the Sustainable Development Goals</li>
          </ul>

          <h4>Conscious Kitchen Intern</h4>
          <h5>Turning Green</h5>
          <p><em>January 2022 - May 2022</em></p>
          <ul>
            <li>Created educational content to support the goals of Conscious Kitchen and Project Green Challenge</li>
            <li>Wrote company briefs for Fashion for the Planet capsule collection</li>
            <li>Involved in communication and outreach efforts with national high schools and colleges</li>
          </ul>

          <h4>Future For Food Intern</h4>
          <h5>Alliance for Sustainable Communities - Lehigh Valley INC</h5>
          <p><em>May 2022 - June 2022</em></p>
          <ul>
            <li>Designed a food education program for over 20 elementary schools in Lehigh Valley, PA</li>
            <li>Created resources and lesson plans ideas for promoting nutrition literary</li>
            <li>Interviewed teachers and local sustainability leaders in understanding community needs</li>
          </ul>
        </div>

        <h3 class="resume-title">Research</h3>
        <div class="resume-item pb-0">
      
          <h4>Community Engagement Team</h4>
          <h5>CT Valley Precious Plastics Team</h5>
          <p><em>March 2022 - Present</em></p>
          <ul>
            <li>Co-leads community outreach with the local maker community and affiliated college consortium</li>
            <li>Initiates machine fabrication, research, and engineering of plastic upcycling machines</li>
            <li>Conducting data research on plastic types and developing safety educational resources</li>
            <li>Created and currently manage the Precious Plastics community website</li>
          </ul>

          <h4>Researcher</h4>
          <h5>Inclusive Design Lab</h5>
          <p><em></em></p>
          <ul>
            <li>Tech+Design studio for researchers to develop digital interventions for positive social change</li>
            <li>Conducting ethnographic research on digital rights, youth, and online communities </li>
            <li>Presented at 2023 ACM MAGICC Conference</li>
            <li>Presenting at 2023 Smith College Celebrating Collaborations</li>
          </ul>
        </div>
      </div> -->


<!-- 
    <h4></h4>
    <h5></h5>
    <p><em></em></p>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul> -->

<!-- End Resume Section -->


<!-- End Resume Section -->


<!-- blog -->
<!-- <section class="section">
  <div class="container">
    <div class="row">
      {% for post in site.posts %}
      {% include post.html %}
      {% endfor %}
    </div>
  </div>
</section> -->
<!-- /blog -->

<!-- clients -->
<!-- <section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">My Clients</h2>
      </div>
    </div>
    {% include client-slider.html %}
  </div>
</section> -->
<!-- /clients -->